*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --bleu-fonce : #044873;
    --background : #eef1ff;
    --white : #ffffff;
}

body {
    background-color: #eef1ff;
    font-family: 'Poppins';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    width: 10%;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    font-family: 'Koulen';
    font-size: 1.5rem;
    gap: 3.5rem;
}

.nav-items .item a {
    color: var(--bleu-fonce);
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    font-family: 'Koulen';
    gap: 2rem;
    margin-right: 3rem;
}

.nav-btn {
    background-color: var(--bleu-fonce);
    font-size: 1.2rem;
    color: var(--white);
    padding: .5rem 2rem;
    border-radius: 2rem;
    transition: transform 0.2s ease;
}

.nav-btn-2 {
    background-color: var(--background);
    font-size: 1.2rem;
    color: var(--bleu-fonce);
    padding: .4rem 2rem;
    border-radius: 2rem;
    border: solid 3px var(--bleu-fonce);
    transition: transform 0.2s ease;
}

.nav-btn:hover , .nav-btn-2:hover {
    transform: scale(1.1);
}

.nav-link {
    position: relative;
}

.nav-link.active {
    border-bottom: solid 2px var(--bleu-fonce);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu-fonce);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.nav-link:not(.active):hover::after {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #021826;
    padding: 2rem 4rem;
}

.footer-logo {
    width: 15rem;
    height: 7.5rem;
    margin-top: 2rem;
}

.coordonnees-infos {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-title {
    font-family: 'Koulen';
    color: var(--white);
    letter-spacing: 2px;
}

.footer-nav-link {
    color: var(--white);
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newsletter-form {
    display: flex;
    margin-right: 2rem;
}

.footer-form-input {
    background-color: var(--white);
    color: var(--bleu-fonce);
    font-family: 'Poppins';
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 1rem 0 0 1rem;
    border: none;
    outline: none;
}

.footer-form-btn {
    background-color: var(--bleu-fonce);
    color: var(--white);
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-family: 'Koulen';
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.footer-form-input:focus {
    border: #044873;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

/* Login page */

.login-section, .signin-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-img {
    width: 20rem;
    margin-top: 5rem;
}

.login-title {
    font-family: 'Koulen';
    font-size: 3.5rem;
    color: var(--bleu-fonce);
    margin-top: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-input {
    background-color: var(--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    margin-top: .5rem;
    box-shadow: 0 0 5px rgba(0,100,255,0.5);
    outline: none;
}

.login-input:focus {
    border: #044873;
    box-shadow: 0 0 20px rgba(0,100,255,0.5);
}

.connexion-2 a {
    font-size: .8rem;
    margin-left: 1rem;
    color: var(--bleu-fonce);
    text-decoration: underline;
}

.login-form button {
    background-color: var(--bleu-fonce);
    color: var(--white);
    font-family: 'Koulen';
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: .5rem;
    cursor: pointer;
    width: 50%;
    margin: 1.8rem auto;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.signin-inputs {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.bloc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signin-input {
    background: var(--white);
    border: none;
    padding: 1rem 3rem;
    font-family: 'Poppins';
    border-radius: .5rem;
    margin-top: .5rem;
    box-shadow: 0 0 5px rgba(0,100,255,0.5);
    outline: none;
}

.signin-input:focus {
    border: #044873;
    box-shadow: 0 0 20px rgba(0,100,255,0.5);
}

.signin-form button {
    background-color: var(--bleu-fonce);
    color: var(--white);
    font-family: 'Koulen';
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: .5rem;
    cursor: pointer;
    width: 50%;
    margin: 3rem auto;
}

.title-section {
    height: 60vh;
    background: url(../images/vue-aerienne.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section h1 {
    color: var(--white);
    font-family: 'Koulen';
    font-size: 4.5rem;
    letter-spacing: 2px;
}

.background {
    height: 60vh;
    flex: 1;
}

.form-reservation-section {
    height: 50vh;
    background-color: var(--white);
    max-width: 65vw;
    display: flex;
    margin: 0 auto;
    margin-top: -5rem;
    border: solid 1px var(--bleu-fonce);
    border-radius: 1rem;
}

.form-reservation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 48%;
    gap: 1.5rem;
    padding-left: 2rem;
}

.row {
    display: flex;
    gap: 1.5rem;
}

.input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: 1px solid #1e456d;
    border-radius: 0.7rem;
    font-size: 1rem;
    outline: none;
}

.input:focus {
    border: #044873;
    box-shadow: 0 0 20px rgba(0,100,255,0.5);
}

.input-msg {
    height: 8rem;
}

.input-full {
    flex: 100%;
}


.left-reservation {
    display: flex;
    flex-direction: column;           
    flex: 0 0 48%;
    padding: 2rem;
}

.left-reservation button {
    background-color: var(--bleu-fonce);
    color: var(--white);
    border-radius: 3rem;
    border: none;
    font-family: 'Koulen';
    font-size: 1.5rem;
    padding: .5rem 2rem;
    cursor: pointer;
    width: 12rem;
}

.chiffres-reservation {
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-family: 'Koulen';
    color: var(--bleu-fonce);
    padding-top: 8rem;
}

.chiffres-reservation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.chiffre {
    font-size: 5rem;
}

.chiffre-desc {
    font-size: 1.3rem;
    width: 65%;
    text-align: center;
}

